@font-face {
    font-family: "instrumentsans-regular";
    src: url("/assets/font/instrumentsans-regular.ttf");
}

@font-face {
    font-family: "googlesans-regular";
    src: url("/assets/font/googlesans-regular.ttf");
}

.instrument {
    font-family: "instrumentsans-regular";
}

.sans-regular {
    font-family: "googlesans-regular";
}