// $theme-primary: #23272F;
// $theme-secondary: #B08D57;
$theme-primary: #34373e;
$theme-secondary: #b08d59;
$theme-light: #ededed;
$theme-soft: #efe7dc;
$black: #000000;
$white: #ffffff;
$text-primary: #25345e;
 
// Responsive Variables
$laptop: "(max-width: 1600px)";
$lg: "(max-width: 1200px)";
$md: "(max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "(max-width: 576px)";